@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Rochester&display=swap");
@import "imports/loader.css";
@import "imports/index.css";
@import "imports/details.css";
@import "imports/contact.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(#014605, #037022);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Rochester", cursive;
  color: white;
}

h1 {
  font-size: 2.5rem;
}

header {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px 16px;
  border-bottom: 2px solid white;
}

header a {
  color: white;
}

.logo {
  font-family: "Rochester", cursive;
  font-size: 2rem;
}

nav li {
  display: inline-block;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  color: white;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
  padding: 0 10px;
  opacity: 1;
  display: none;
}

.success {
  max-width: 600px;
  margin: 10px auto;
  padding: 2rem;
  border: 2px solid white;
  color: white;
  font-size: 20px;
}

.error {
  max-width: 600px;
  margin: 10px auto;
  border: 2px solid darkred;
  padding: 2rem;
  color: darkred;
  background: #fff;
  font-size: 20px;
}
