.nav {
  margin: 10px 0 20px 0;
}

.nav a {
  color: white;
}

.details-container {
  border: 2px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.details-container h1 {
  text-align: center;
}

.details-movie {
  margin-top: 30px;
}

.details-image {
  height: 440px;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.details-info {
  margin-top: 10px;
  padding-left: 20px;
}

.details-info h2 {
  padding: 12px 0 6px 0;
}
